 /**
*
*	Name:			Anjoman Fonts
*	Version:			2.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		April 4, 2020
*	Updated on:		April 4, 2020
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت انجمن یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Anjoman fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- ../../fonts/anjoman/anjoman-fanum/-
*	
**/

@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Thin.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-ExtraLight.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-ExtraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-ExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Light.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Medium.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-SemiBold.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-SemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 750;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-ExtraBold.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-ExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-UltraBold.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-UltraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-UltraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-UltraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 850;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Black.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Heavy.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Heavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Heavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Heavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: 1000;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-SuperHeavy.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-SuperHeavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-SuperHeavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-SuperHeavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Bold.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Anjoman;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Regular.eot');
	src: url('../../fonts/anjoman/anjoman-fanum/eot/Anjoman-FaNum-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/anjoman/anjoman-fanum/woff2/Anjoman-FaNum-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/anjoman/anjoman-fanum/woff/Anjoman-FaNum-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

.font-thin{
	 font-weight: 100;
}
.font-exlight{
	 font-weight: 300;
}
.font-light{
	 font-weight: 300;
}
.font-reg{
	 font-weight: normal;
}
.font-med{
	 font-weight: 500;
}
.font-bold{
	 font-weight: bold;
}
.font-semibold{
	 font-weight: 600;
}
.font-exbold{
	 font-weight: 750;
}
.font-ultrabold{
	 font-weight: 800;
}
.font-black{
	 font-weight: 850;
}
.font-heavy{
	 font-weight: 900;
}
.font-supheavy{
	 font-weight: 1000;
}


 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 100;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Thin.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 200;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-ExtraLight.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-ExtraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-ExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 300;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Light.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 500;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Medium.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 600;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-SemiBold.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-SemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 750;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-ExtraBold.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-ExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 800;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-UltraBold.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-UltraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-UltraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-UltraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 850;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Black.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 900;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Heavy.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Heavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Heavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Heavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: 1000;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-SuperHeavy.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-SuperHeavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-SuperHeavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-SuperHeavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: bold;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Bold.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 @font-face {
	 font-family: Anjoman-eng;
	 font-style: normal;
	 font-weight: normal;
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Regular.eot');
	 src: url('../../fonts/anjoman/anjoman-eng/eot/Anjoman-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	 url('../../fonts/anjoman/anjoman-eng/woff2/Anjoman-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	 url('../../fonts/anjoman/anjoman-eng/woff/Anjoman-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
 }
 
.font-eng{
	 font-family: Anjoman-eng, Tahoma, serif;
}